body{
  background-color: lightblue;
  text-align: center;
  margin-left: 20px;
  font-family: 'Cinzel', serif;
  font-size: 15px;
}

.pokemons {
  background-color: white;
  padding: 20px;
  margin: 5px;
  border: none;
  float: left;
  text-align: center;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.pokemons:hover{
  background-color: #e6e3e3;
  cursor: pointer;
}
